<div *ngIf="hero">
	<h2>{{hero.name}} details!</h2>
	<div><label>id: </label>{{hero.id}}</div>
	<div><label>name: </label>
		<input [(ngModel)]="hero.name" placeholder="name">
	</div>
	<button (click) = "goBack()">Back</button>
	<button (click) = "save()">Save</button>

<!-- added -->
	<nav>
			<a [routerLink]="['/inner-dashboard']" routerLinkActive = "active">Inner Dashboard</a>
			<a [routerLink]="['/my-heroes']" routerLinkActive = "active">My Heroes</a>
	</nav>
	<my-inner-dashboard></my-inner-dashboard>
<!-- end of added -->
</div>