<div class="container">
  <form action="/action_page.php">
    <div class="section">
      <div class="heading">General</div>
      <div class="row">

        <div class="col-50">
          <div class="row">
            <div class="col-25">
              <label for="fname">First Name First Name First Name First Name First Name</label>
            </div>
            <div class="col-75">
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
            </div>
          </div>
        </div>

        <div class="col-50">
          <div class="row">
            <div class="col-25">
              <label for="lname">Last Name Last Name Last Name Last Name Last Name</label>
            </div>
            <div class="col-75">
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-50">
          <div class="col-25">
            <label for="country">Country</label>
          </div>
          <div class="col-75">
            <select id="country" name="country">
              <option value="australia">Australia</option>
              <option value="canada">Canada</option>
              <option value="usa">USA</option>
            </select>
          </div>
        </div>

        <div class="col-50">
          <div class="row">
            <div class="col-25">
              <label for="subject">Subject</label>
            </div>
            <div class="col-75">
              <input id="subject" type="text" name="subject" placeholder="Write something..">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="heading">Admin</div>
      <div class="row">

        <div class="col-50">
          <div class="row">
            <div class="col-25">
              <label for="fname">Select Gender</label>
            </div>
            <div class="col-75">
              <input type="radio" id="male" name="gender" value="male">
              <label for="male">Male</label><br>
              <input type="radio" id="female" name="gender" value="female">
              <label for="female">Female</label><br>
              <input type="radio" id="other" name="gender" value="other">
              <label for="other">Other</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-50">
          <div class="row">
            <div class="col-25">
              <label for="fname">First Name</label>
            </div>
            <div class="col-75">
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
            </div>
          </div>
        </div>

        <div class="col-50">
          <div class="row">
            <div class="col-25">
              <label for="lname">Last Name</label>
            </div>
            <div class="col-75">
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-50">
          <div class="col-25">
            <label for="country">Country</label>
          </div>
          <div class="col-75">
            <select id="country" name="country">
              <option value="australia">Australia</option>
              <option value="canada">Canada</option>
              <option value="usa">USA</option>
            </select>
          </div>
        </div>

        <div class="col-50">
          <div class="row">
            <div class="col-25">
              <label for="subject">Subject</label>
            </div>
            <div class="col-75">
              <input id="subject" type="text" name="subject" placeholder="Write something..">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>